{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
<body>
    <div>
        <div>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button type="submit">Submit</button>
            </form>
            <div>
                
                <h2>{{list.0.id}}の画像</h2>

                    <img src="{{list.0.style_image.url}}">
                
                
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" action="/" class="mx-auto">
        <label>
          <img src="{{list.0.style_image.url}}">
          <input name="file" type="radio" accept="image/*" required="">
        </label>
        <label for="submit" >
          <input id="submit" name="file" type="submit" accept="image/*" required="">
        </label>
    </form>

</body>
</html>