{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
<body>
    <div>
        <div>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th><label for="id_contents_image">Contents_image:</label></th>
                            <td>
                                <input type="file" name="contents_image" accept=".jpg, .jpeg, .png, .gif" required id="id_contents_image">
                            </td>
                        <th></th>
                            <label for="id_style_num0">
                                <img class="img--preview" src="{{list.0.style_image.url}}">
                                <td>
                                    <input type="radio" name="style_num" required id="id_style_num0" value="{{list.0.style_num}}">
                                </td>
                            </label>
                        <th></th>
                            <label for="id_style_num1">
                                <img class="img--preview" src="{{list.1.style_image.url}}">
                                <td>
                                    <input type="radio" name="style_num" required id="id_style_num1" value="{{list.1.style_num}}">
                                </td>
                            </label>
                    </tr>
                </table>
                <input type='submit' class='btn btn-default' value='Submit' />
            </form>
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
</body>
</html>