{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
<body>
    <div>
        <div class="col-3">
            {% if object.contents_image %}
            <img src="{{ object.contents_image.url }}" width="200" height="200"/>
            {% endif %}
        </div>
        <div class="col-3">
            {% if object.contents_image %}
            <img src="{{ object.style_num.style_image.url }}" width="200" height="200"/>
            {% endif %}
        </div>
    </div>
</body>
</html>